<h1>New wish_list</h1>

<% form_for(@wish_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :wish_list_name %><br />
    <%= f.text_field :wish_list_name %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', wish_lists_path %>