<%= error_messages_for :my_menue %>

<table id='insert-table'>
  <tr>
    <td >

    <%= label :my_menue, :meune_name, "Menue" %><br />
    <%= text_field :my_menue, :menue_name %>

		</td>
    <td rowspan="4">

    <%= label :my_menue, :description %><br />
    <%= text_area :my_menue, :description, :cols => 30, :rows => 10 %>

    </td>
  </tr>
	<!--
  <tr>
    <td>
	    <p>
    <%= label :my_menue, :expirience_points %><br />
    <%= text_field :my_menue, :expirience_points %>
		  </p>
    </td>
  </tr>
  <tr>
    <td>
	    <p>
    <%= label :my_menue, :price %><br />
    <%= text_field :my_menue, :price %>
		  </p>
    </td>
  </tr>
	-->
	 <tr>
    <td>

	  <%if @visibility_list != nil%>
    	<%= label :my_menue,:visibility %><br />
			<%= collection_select(:my_menue,:visibility_id,@visibility_list,:id,:visibility_kind)%>
		<%end%> 

    </td>
  </tr>
</table>

<%if @foodkind_list != nil%>
	<table id='food-table'>
		<%for foodkind in @foodkind_list%>
				<td align="left">
					<p><%=h foodkind.foodkind_name %></p>
				
					<%for food in @foods_list%>
						<%if food.foodkind_id == foodkind.id %>
							<%= check_box_tag "my_menue[food_ids][]",food.id, @my_menue.foods.include?(food),:id=>food.id%>
							<label for=<%=h food.id%>> <%=h food.food_name%></label> 	
							<br>
						<%end%>
					<%end%>
					
				</td>
		<%end%>
	</table>
<%end%>

<br>
<%= submit_tag button_name%>
<br>
<br>