<table>
  <tr>
    <th>Menu name</th>
		<th>User</th>
    <th>Description</th>
    <th>Expirience points</th>
 <!--   <th>Price</th> -->
  </tr>

<% @my_menues.each do |menue| %>
  <tr>
    <td><%=h menue.menue_name %></td>
		<td><%=h menue.user.user_name %></td>
    <td>
	    <%=h menue.description%><br>
			Ingredients:
			<%for food in menue.foods%>
					<%=	food.food_name %>
			<% end %>
		</td>
    <td><%=h menue.expirience_points %></td>
 <!--   <td><%=h menue.price %></td> -->
		
    <td><%= link_to 'Show', {:action => "show", :id => menue.id} %></td>
    <td><%= link_to 'Edit', edit_my_menue_path(menue) %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => menue.id} , :confirm => 'Are you sure?', :method=>'delete'%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menue', new_my_menue_path %>