<%= error_messages_for :menue %>

<table id='insert-table'>
  <tr>
    <td>
	    <%= label :menue, :meune_name, "Menu" %><br />
	    <%= text_field :menue, :menue_name %>
		</td>
    <td rowspan="3">
	    <%= label :meune, :description %><br />
	    <%= text_area :menue, :description, :cols => 30, :rows => 10 %>
    </td>
  </tr>
  <tr>
    <td>
	    <%= label :meune, :expirience_points %><br />
	    <%= text_field :menue, :expirience_points %>
    </td>
  </tr>
  <tr>
    <td>
	    <%= label :meune, :price %><br />
	    <%= text_field :menue, :price %>
    </td>
  </tr>
</table>
   
<%if @foodkind_list != nil%>
	<table id='food-table'>
		<%for foodkind in @foodkind_list%>
		    
				<td align="left">
					<p><%=h foodkind.foodkind_name %></p>
				
					<%for food in @foods_list%>
						<%if food.foodkind_id == foodkind.id %>
							<%= check_box_tag "menue[food_ids][]",food.id, @menue.foods.include?(food),:id=>food.id%>
							<label for=<%=h food.id%>> <%=h food.food_name%></label> 			
							<br>
						<%end%>
					<%end%>
					
				</td>
				
		<%end%>
	</table>
<%end%>

<br>
<%= submit_tag button_name %>
<br><br>
