

<table>
  <tr>
    <th>Menue name</th>
    <th>Description</th>
    <th>Expirience points</th>
 <!--<th>Price</th>-->
  </tr>

<% @menues.each do |menue| %>
  <tr>
    <td><%=h menue.menue_name %></td>
    <td>
	    <%=h menue.description%><br>
			Ingredients:
			<%for food in menue.foods%>
					<%=	food.food_name %>
			<% end %>
		</td>
    <td><%=h menue.expirience_points %></td>
 <!--   <td><%=h menue.price %></td>-->
		
    <td><%= link_to 'Show', menue %></td>
		<% if admin_signed_in? %> 
    	<td><%= link_to 'Edit', edit_menue_path(menue) %></td>
    	<td><%= link_to 'Destroy', menue, :confirm => 'Are you sure?', :method => :delete %></td>
  	<% end %>
	</tr>
<% end %>
</table>

<br />
<% if admin_signed_in? %> 
	<%= link_to 'New menue', new_menue_path %>
<% end %>