<p>
  <b>Menue name:</b>
  <%=h @menue.menue_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @menue.description %>
</p>

<p>
  <b>Expirience points:</b>
  <%=h @menue.expirience_points %>
</p>

<p>
  <b>Price:</b>
  <%=h @menue.price %>
</p>



<%= link_to 'Edit', edit_menue_path(@menue) %> |
<%= link_to 'Back', menues_path %>