

<p>
  <b>Wishlist name:</b>
  <%=h @public_wishlist.wishlist_name %>
</p>

<p>
  <b>User:</b>
  <%=h @public_wishlist.user.user_name %>
</p>

<table >
	  <tr>
    <th scope="col"><div align="left"><b>Product wishes:</b></th>
  </tr>
	<% unless @public_wishlist.products.empty?%>
		<% for product in @public_wishlist.products %>
			  <tr>
    			<td rowspan=3 align="center" valign="middle" width=' 20%'>
						<%= image_tag product.image_url,:size => "100x100", :class => 'list-image' %><br>
						<%= link_to product.product_name, product %>
					</td>
			</div>
		<% end %>
	<% end %>
</table>
<%= link_to 'Back', public_wishlists_path %>