

<% form_for(@foodkind) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :foodkind_name %><br />
    <%= f.text_field :foodkind_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', foodkinds_path %>