<% form_for(@wishlist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :wishlist_name %><br />
    <%= f.text_field :wishlist_name %>
  </p>
  <p>
    <%= f.label :visibility %><br />
		<%= f.select :visibility, options_for_select([['Public','Public'], ['Private', 'Private']])%>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>