<% form_for(@wishlist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :wishlist_name %><br />
    <%= f.text_field :wishlist_name %>
  </p>
  <p>
    <%= f.label :visibility %><br />
		<%= f.collection_select(:visibility_id,@visibility_list,:id,:visibility_kind)%>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>