

<table>
  <tr>
    <th>Wishlist name</th>
    <th>Visibility</th>
		<th>Products</th>
  </tr>

<% @wishlists.each do |wishlist| %>
  <tr>
    <td><%=h wishlist.wishlist_name %></td>
    <td><%=h wishlist.visibility.visibility_kind %></td>
		<td>
			Product wishes:
			<%for product in wishlist.products%>
					<%=	product.product_name %>
			<% end %>
		</td>
    <td><%= link_to 'Show', wishlist %></td>
    <td><%= link_to 'Edit', edit_wishlist_path(wishlist) %></td>
    <td><%= link_to 'Destroy', wishlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wishlist', new_wishlist_path %>