

<p>
  <b>Wishlist name:</b>
  <%=h @wishlist.wishlist_name %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @wishlist.visibility.visibility_kind %>
</p>

<table >
	  <tr>
    <th scope="col"><div align="left"><b>Product wishes:</b></th>
  </tr>
	<% unless @wishlist.products.empty?%>
		<% for product in @wishlist.products %>
			  <tr>
					<td rowspan=3 align="center" valign="middle" width=' 20%'>
						<%= image_tag product.image_url,:size => "100x100", :class => 'list-image' %><br>
						<%= link_to product.product_name, product %><br>
    				<%= button_to "Remove",
						{ :action => "remove_product", :id => @wishlist.id ,:product_id=>product},
	 					:style=>"border:groove" %>
					</td>
  			</tr>
			</div>
		<% end %>
	<% end %>
</table>
<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>