<p>
  <b>Wishlist name:</b>
  <%=h @wishlist.wishlist_name %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @wishlist.visibility %>
</p>

<table border=1>
	  <tr>
    <th scope="col"><div align="left"><b>Product wishes:</b></th>
  </tr>
	<% unless @wishlist.products.empty?%>
		<% for product in @wishlist.products %>
			  <tr>
    			<td><%= link_to product.product_name, product %></td>
    			<td><%= button_to "Remove",
						{ :action => "remove_product", :id => @wishlist.id ,:product_id=>product},
	 					:style=>"border:groove" %></td> <!-- TODO: aktualiesieren von anfang an?-->
  			</tr>
			</div>
		<% end %>
	<% end %>
</table>
<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>