<p>
  <b>Title:</b>
  <%=h @product.product_name %>
</p>

<p>
  <b>Description:</b>
  <%=@product.description %>
</p>

<p>
  <b>Image url:</b>
  <%=h @product.image_url %>
</p>

<p>
  <b>Expirience Points:</b>
  <%=h @product.expirience_points %>
</p>

<p>
  <%if @product.continent!=nil%>
	  <b>From:</b>
	  <%=h @product.continent.continent_name %>
  <%end%>	
</p>
			
<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Expirience Points:</b>
  <%=h @product.expirience_points %>
</p>
<p>
	<% if @wishlists != nil %>
		<b>Add to Wishlist:</b>
		
			<% form_for @product, :url => { :action => "add_to_wishlist" } do |f| %>	
		  	<%= f.error_messages %>
				<%= f.collection_select(:wishlist_ids, @wishlists, :id, :wishlist_name,{},
						{:multiple => true, :wishlist_name => ('product[:wishlist_ids][]')}) %>
		    <%= f.submit 'Add'  %> <%= link_to 'New List', new_wishlist_path %>
			<% end %>

		
	 <% end %>		
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>